@{
    ViewBag.Title = "Gestión";
    ViewBag.Section = "Actividades";
    Layout = "~/Views/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>