<!DOCTYPE html>
<html>
<head>
    <title>Documento del Cliente</title>
	<meta charset="utf-8" />
</head>
<body>
    <form id="form" action="#" class="wizard-big wizard clearfix" role="application" novalidate="novalidate">
        <div class="steps clearfix"><ul role="tablist"><li role="tab" class="first current" aria-disabled="false" aria-selected="true"><a id="form-t-0" href="#form-h-0" aria-controls="form-p-0"><span class="current-info audible">current step: </span><span class="number">1.</span> Account</a></li><li role="tab" class="disabled" aria-disabled="true"><a id="form-t-1" href="#form-h-1" aria-controls="form-p-1"><span class="number">2.</span> Profile</a></li><li role="tab" class="disabled" aria-disabled="true"><a id="form-t-2" href="#form-h-2" aria-controls="form-p-2"><span class="number">3.</span> Warning</a></li><li role="tab" class="disabled last" aria-disabled="true"><a id="form-t-3" href="#form-h-3" aria-controls="form-p-3"><span class="number">4.</span> Finish</a></li></ul></div><div class="content clearfix">
            <h1 id="form-h-0" tabindex="-1" class="title current">Dato Generales</h1>
            <fieldset id="form-p-0" role="tabpanel" aria-labelledby="form-h-0" class="body current" aria-hidden="false">
                <h2>Datos Generales del Documento</h2>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label>Tipo de Documento</label>
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>                            
                            <input type="hidden" id ="typeDocument" name="typeDocument" class="form-control required" aria-required="true">
                        </div>
                        <div class="form-group">
                            <label>Nro Interno</label>
                            <input id="internalNumber" name="internalNumber" class="form-control required" aria-required="true" type="text" readonly>
                        </div>
                        <div class="form-group">
                            <label>Ciente</label>
                            <select>
                                <option value="volvo">Guia de Remisión</option>
                                <option value="saab">Facturas</option>
                                <option value="opel">Boletas</option>
                            </select>
                            <input type="hidden" id="client" name="client" class="form-control required" aria-required="true">
                        </div>
                        <div class="form-group">
                            <label>Dirección</label>
                            <input id="address" name="address" class="form-control required" aria-required="true" type="text">
                        </div>
                        <div class="form-group">
                            <label>Teléfono</label>
                            <input id="number" name="number" class="form-control required" aria-required="true" type="text">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center">
                            <div style="margin-top: 20px">
                                <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <h1 id="form-h-1" tabindex="-1" class="title">Profile</h1>
            <fieldset id="form-p-1" role="tabpanel" aria-labelledby="form-h-1" class="body" style="display: none;" aria-hidden="true">
                <h2>Profile Information</h2>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>First name *</label>
                            <input id="name" name="name" class="form-control required" aria-required="true" type="text">
                        </div>
                        <div class="form-group">
                            <label>Last name *</label>
                            <input id="surname" name="surname" class="form-control required" aria-required="true" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Email *</label>
                            <input id="email" name="email" class="form-control required email" aria-required="true" type="text">
                        </div>
                        <div class="form-group">
                            <label>Address *</label>
                            <input id="address" name="address" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </fieldset>
            <h1 id="form-h-2" tabindex="-1" class="title">Warning</h1>
            <fieldset id="form-p-2" role="tabpanel" aria-labelledby="form-h-2" class="body" style="display: none;" aria-hidden="true">
                <div class="text-center" style="margin-top: 120px">
                    <h2>You did it Man :-)</h2>
                </div>
            </fieldset>
            <h1 id="form-h-3" tabindex="-1" class="title">Finish</h1>
            <fieldset id="form-p-3" role="tabpanel" aria-labelledby="form-h-3" class="body" style="display: none;" aria-hidden="true">
                <h2>Terms and Conditions</h2>
                <input id="acceptTerms" name="acceptTerms" class="required" aria-required="true" type="checkbox"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
            </fieldset>
        </div><div class="actions clearfix"><ul role="menu" aria-label="Pagination"><li class="disabled" aria-disabled="true"><a href="#previous" role="menuitem">Previous</a></li><li aria-hidden="false" aria-disabled="false"><a href="#next" role="menuitem">Next</a></li><li aria-hidden="false"><a href="#finish" role="menuitem">Finish</a></li><li><a href="#cancel" role="menuitem">Cancel</a></li></ul></div>
    </form>



    <ul role="tablist">
        <li class="first current" role="tab" aria-disabled="false" aria-selected="true">
            <a id="form-t-0" href="#form-h-0" aria-controls="form-p-0">
                <span class="current-info audible">current step:</span>
                <span class="number">1.</span>
                Datos Generales
            </a>
        </li>
    </ul>

    <div class="content clearfix">
        <h1 id="form-h-0" tabindex="-1" class="title current">Account</h1>
        <fieldset id="form-p-0" role="tabpanel" aria-labelledby="form-h-0" class="body current" aria-hidden="false">
            <h2>Datos Generales del Documento</h2>
            <div class="row">
                <div class="col-lg-8">
                    <div class="form-group">
                        <label>Tipo de Documento</label>
                        <input id="typeDocument" name="typeDocument" class="form-control required" aria-required="true" type="text">
                    </div>
                    <div class="form-group">
                        <label>Nro Interno</label>
                        <input id="internalNumber" name="internalNumber" class="form-control required" aria-required="true" type="text">
                    </div>
                    <div class="form-group">
                        <label>Ciente</label>
                        <input id="client" name="client" class="form-control required" aria-required="true" type="text">
                    </div>
                    <div class="form-group">
                        <label>Dirección</label>
                        <input id="address" name="address" class="form-control required" aria-required="true" type="text">
                    </div>
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input id="number" name="number" class="form-control required" aria-required="true" type="text">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <div style="margin-top: 20px">
                            <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <h1 id="form-h-1" tabindex="-1" class="title">Profile</h1>
        <fieldset id="form-p-1" role="tabpanel" aria-labelledby="form-h-1" class="body" style="display: none;" aria-hidden="true">
            <h2>Profile Information</h2>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>First name *</label>
                        <input id="name" name="name" class="form-control required" aria-required="true" type="text">
                    </div>
                    <div class="form-group">
                        <label>Last name *</label>
                        <input id="surname" name="surname" class="form-control required" aria-required="true" type="text">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Email *</label>
                        <input id="email" name="email" class="form-control required email" aria-required="true" type="text">
                    </div>
                    <div class="form-group">
                        <label>Address *</label>
                        <input id="address" name="address" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </fieldset>
        <h1 id="form-h-2" tabindex="-1" class="title">Warning</h1>
        <fieldset id="form-p-2" role="tabpanel" aria-labelledby="form-h-2" class="body" style="display: none;" aria-hidden="true">
            <div class="text-center" style="margin-top: 120px">
                <h2>You did it Man :-)</h2>
            </div>
        </fieldset>
        <h1 id="form-h-3" tabindex="-1" class="title">Finish</h1>
        <fieldset id="form-p-3" role="tabpanel" aria-labelledby="form-h-3" class="body" style="display: none;" aria-hidden="true">
            <h2>Terms and Conditions</h2>
            <input id="acceptTerms" name="acceptTerms" class="required" aria-required="true" type="checkbox"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
        </fieldset>
    </div>

</body>
</html>
