@{
    ViewBag.Title = "Series";
    ViewBag.Section = "Configuración";
    Layout = "~/Views/_Layout.cshtml";
}
@section styles_link {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" />
    @Html.StyleLink("css/plugins/chosen/bootstrap-chosen.css")
    @Html.StyleLink("css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")    
}

@section scripts_link {
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    @Html.JavaScriptLink("js/plugins/chosen/chosen.jquery.js")
    <script>
        function delete_action(id, start, end, current, type, digital) {
            $("#txtModalTitle").text("Eliminar serie");
            $("#btnConfirm").show();
            $("#btnConfirm").attr("action", "3");
            var txtSerie = $("#txtSerie");
            var txtStart = $("#txtStart");
            var txtFinal = $("#txtFinal");
            var txtCurrent = $("#txtCurrent");
            var slcDocumentType = $("#chkDocumentType");
            var slcInvoiceType = $("#chkInvoiceType");
            slcDocumentType.attr("disabled", true);
            slcDocumentType.val(digital);
            slcDocumentType.trigger("chosen:updated");
            slcInvoiceType.attr("disabled", true);
            slcInvoiceType.val(type);
            slcInvoiceType.trigger("chosen:updated");
            txtSerie.val(id);
            txtSerie.attr('readonly', true);
            txtStart.val(start);
            txtStart.attr('readonly', true);
            txtFinal.val(end);
            txtFinal.attr('readonly', true);
            txtCurrent.val(current);
            txtCurrent.attr('readonly', true);
        }

        function detail(id, start, end, current, type, digital, prefix) {
            $("#txtModalTitle").text("Detalle serie");
            $("#btnConfirm").hide();
            var txtSerie = $("#txtSerie");
            var txtStart = $("#txtStart");
            var txtFinal = $("#txtFinal");
            var txtCurrent = $("#txtCurrent");
            var slcDocumentType = $("#chkDocumentType");
            var slcInvoiceType = $("#chkInvoiceType");
            var txtPrefix = $("#txtPrefix");
            slcDocumentType.attr("disabled", true);
            slcDocumentType.val(digital);
            slcDocumentType.trigger("chosen:updated");
            slcInvoiceType.attr("disabled", true);
            slcInvoiceType.val(type);
            slcInvoiceType.trigger("chosen:updated");
            txtSerie.val(id);
            txtSerie.attr('readonly', true);
            txtStart.val(start);
            txtStart.attr('readonly', true);
            txtFinal.val(end);
            txtFinal.attr('readonly', true);
            txtCurrent.val(current);
            txtCurrent.attr('readonly', true);
            txtPrefix.val(prefix);
            txtPrefix.attr('readonly', true);
        }
        
        function update(id, start, end, current, type, digital, prefix) {
            $("#txtModalTitle").text("Actualizar serie");
            $("#btnConfirm").show();
            $("#btnConfirm").attr("action", "2");
            var txtSerie = $("#txtSerie");
            var txtStart = $("#txtStart");
            var txtFinal = $("#txtFinal");
            var txtCurrent = $("#txtCurrent");
            var slcDocumentType = $("#chkDocumentType");
            var slcInvoiceType = $("#chkInvoiceType");
            var txtPrefix = $("#txtPrefix");
            slcDocumentType.attr("disabled", true);
            slcDocumentType.val(digital);
            slcDocumentType.trigger("chosen:updated");
            slcInvoiceType.attr("disabled", true);
            slcInvoiceType.val(type);
            slcInvoiceType.trigger("chosen:updated");
            txtSerie.val(id);
            txtSerie.attr('readonly', true);
            txtStart.val(start);
            txtStart.attr('readonly', false);
            txtFinal.val(end);
            txtFinal.attr('readonly', false);
            txtCurrent.val(current);
            txtCurrent.attr('readonly', false);
            txtPrefix.val(prefix);
            if(prefix == '--')
                txtPrefix.attr('readonly', true);
        }
  
    
    </script>
}
    
@section section_script {
    var tblSeries = $("#tblSeries").DataTable({
        searching: false,
        dom: 'Bfrtip',
        buttons: [{ text: 'Agregar',                        
                    action: function ( e, dt, node, config ) {
                        $("#txtModalTitle").text("Insertar serie");
                        $("#btnConfirm").attr("action","1");
                        $("#btnConfirm").show();
                        var txtSerie = $("#txtSerie");
                        var txtStart = $("#txtStart");
                        var txtFinal = $("#txtFinal");
                        var txtCurrent = $("#txtCurrent");
                        var slcDocumentType = $("#chkDocumentType");
                        var slcInvoiceType = $("#chkInvoiceType");
                        slcDocumentType.attr("disabled", false);
                        slcDocumentType.val("true");
                        slcDocumentType.trigger("chosen:updated");
                        slcInvoiceType.attr("disabled", false);
                        $("#chkInvoiceType option:first-child").attr("selected", "selected");                            
                        slcInvoiceType.trigger("chosen:updated");
                        txtSerie.val('');
                        txtSerie.attr('readonly', false);
                        txtStart.val('');
                        txtStart.attr('readonly', false);
                        txtFinal.val('');
                        txtFinal.attr('readonly', false);
                        txtCurrent.val('');
                        txtCurrent.attr('readonly', false);
                    }
                 }],
        columns:[{ data: "Digital",
                   width: "15%",
                   render: function(data, type, full, meta) {                    
                        if (data == "true")
                            return "<span class='label label-warning'>Factura electrónica</span>";                    
                        else
                            return "<span class='label label-danger'>Factura manual</span>";
                   }
                 },
                 { data: "DocumentDescription", width: "18%" },
                 { data: "Id", width: "15%" },
                 { data: "Current", width: "20%" },
                 { data: "Default", 
                   className: "text-center",
                   width: "7%",
                   orderable: false,
                   render: function(data, type, full, meta) {
                        if(data == "true")
                            return "<div class='checkbox checkbox-primary' style='padding-left: 10px; pointer-events: none;'><input class='checkbox' type='checkbox' checked='' disabled /><label></label></div>";
                        else
                            return "<div class='checkbox checkbox-primary' style='padding-left: 10px; pointer-events: none;'><input class='checkbox' type='checkbox' disabled /><label></label></div>";
                   }
                 },
                {  orderable: false,
                   className: "text-center",
                    render: function(data, type, full, meta){
                        var invoiceId = '"'+full.Id+'",'+'"'+full.Max+'",'+'"'+full.Min+'",'+'"'+full.Current+'",'+'"'+full.DocumentType+'",'+'"'+full.Digital+'",'+'"'+full.Prefix+'"';
                        var buttonSearch = "<button type='button' class='btn btn-outline btn-primary' onclick='detail("+invoiceId+");' data-toggle='modal' data-target='#mdlInsert'><i class='fa fa-eye' aria-hidden='true'></i></button>&nbsp;";
                        var buttonEdit = "<button type='button' class='btn btn-outline btn-success' onclick='update("+invoiceId+");' data-toggle='modal' data-target='#mdlInsert'><i class='fa fa-pencil' aria-hidden='true'></i></button>&nbsp;";
                        var buttonDelete = "<button type='button' class='btn btn-outline btn-danger' onclick='delete_action("+invoiceId+");' data-toggle='modal' data-target='#mdlInsert'><i class='fa fa-trash' aria-hidden='true'></i></button>";
                        return buttonSearch + buttonEdit + buttonDelete;
                   },
                   width: "15%"
            }],
            language: {
                    url: "@Html.SourceLink("js/plugins/dataTables/datatables-spanish.json")"
            }            
        });
    
    $("#chkInvoiceType").chosen({
        width: "100%",
        disable_search: true
    });
        
    $("#chkDocumentType").chosen({
        width: "100%",
        disable_search: true
    });
    
    $("#chkDocumentType").chosen().change(function() {
        var value = $(this).val();
        if(value == "false")
            $('#txtPrefix').attr('readonly', true);
        else
            $('#txtPrefix').attr('readonly', false); 
    });

    $.ajax({ method: "GET", url: "/Finantial/Settings/InvoiceDocuments_Populate", async: false })
        .done(function (result) {
            var objResult = jQuery.parseJSON(result);
            tblSeries.clear().rows.add(objResult).draw();
        }).fail(function (result) {
            toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });
    
    $(".dt-button").removeClass("dt-button").addClass("btn btn-w-m btn-default").attr("data-toggle", "modal").attr("data-target", "#mdlInsert");
    
    $.ajax({ method: "GET", url: "/Finantial/Settings/DocumentTypes" })
        .done(function (result) {
            var objResult = jQuery.parseJSON(result);
            var documentType = $("#chkInvoiceType");
            $.each(objResult, function (index, value) {
                documentType.append("<option value='"+value.Value+"'>"+value.Content+"</option>");
            });
            documentType.trigger("chosen:updated");
        }).fail(function (result) {
            toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });
    
    $("#btnConfirm").on("click", function () {
        var value = $(this).attr("action");
        if (value == "1") {
            var prefixVal = $("#chkDocumentType").val();
            if(prefixVal == "true") {
                var serie = $("#txtSerie").val();

                var _prefix = serie.substring(0, 1);
                var _id = serie.substring(1, 4);
                var _max = $("#txtStart").val();                   

                $.ajax({method: "POST", url: "/Finantial/Settings/AddSeries", data: { documentType: $("#chkInvoiceType").val(), id: _id, current: $("#txtCurrent").val(), 
                        max: _max, min: $("#txtFinal").val(), default: "true", prefix:_prefix} })
                .done(function (result){
                
                }).fail(function (result) {
                    toastr.error(result.statusText, "Mensaje", {positionClass: "toast-top-full-width" });
                });    
            }                  
        }
        else{
            if(value == "2") alert("actualizar");
            else
                if (value == "3") alert("eliminar");
        }            
    });
}


<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="table-responsive">
                    <table id = "tblSeries" class="table table-striped table-bordered table-hover" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Tipo de Facturacion</th>
                                <th>Tipo de Documento</th>
                                <th>Serie</th>
                                <th>Actual</th>
                                <th>Default</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="mdlInsert" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id = "txtModalTitle" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-6">                            
                            <label>Tipo de Facturación</label>                            
                            <div class="col-md-12">
                                <select id="chkDocumentType">
                                    <option value="true">Facturación electrónica</option>
                                    <option value="false">Facturación manual</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Tipo de Documento</label>                            
                            <div class="col-md-12">
                                <select id="chkInvoiceType"></select>
                            </div>
                        </div >
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Serie</label>
                            <div class="col-md-12">
                                <input id="txtSerie" type="text" class="form-control" placeholder="Final" />
                            </div>
                        </div>
                        <div class="col-md-9">
                            <label>Correlativos</label>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <input id="txtStart" type="text" class="form-control" placeholder="Inicio" />
                                </div>
                                <div class="col-md-4">
                                    <input id="txtFinal" type="text" class="form-control" placeholder="Final" />
                                </div>
                                <div class="col-md-4">
                                    <input id="txtCurrent" type="text" class="form-control" placeholder="Actual" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type = "button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <button type = "button" class="btn btn-primary" id="btnConfirm">Confirmar</button>
            </div>
        </div>
    </div>
</div>