@{
    ViewBag.Title = "Series";
    ViewBag.Section = "Configuración";
    Layout = "~/Views/_Layout.cshtml";
}
@section styles_link {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" />
    @Html.StyleLink("css/plugins/chosen/bootstrap-chosen.css")
    @Html.StyleLink("css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")    
}

@section scripts_link {
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    @Html.JavaScriptLink("js/plugins/chosen/chosen.jquery.js")
    <script>
        function detail(id) {
            $("#txtModalTitle").text("Detalle serie");
            $("#btnConfirm").hide();
        }
        
        function update(id) {
            $("#txtModalTitle").text("Actualizar serie");
            $("#btnConfirm").show();
            $("#btnConfirm").attr("action", "2");
        }
        
        function delete(id) {
        }    
    </script>
}
    
@section section_script {
    var tblSeries = $("#tblSeries").DataTable({
        searching: false,
        dom: 'Bfrtip',
        buttons: [{
                        text: 'Agregar',                        
                        action: function ( e, dt, node, config ) {
                            $("#txtModalTitle").text("Insertar serie");
                            $("#btnConfirm").attr("action","1");
                            $("#btnConfirm").show();
                        }
                    }],
        columns:[{ data: "Digital",
                   width: "15%",
                   render: function(data, type, full, meta) {                    
                        if (data == "true")
                            return "<span class='label label-warning'>Factura electrónica</span>";                    
                        else
                            return "<span class='label label-danger'>Factura manual</span>";   
                        
                   }
                 },
                 { data: "DocumentType", width: "18%" },
                 { data: "Id", width: "15%" },
                 { data: "Current", width: "20%" },
                 { data: "Default", 
                   className: "text-center",
                   width: "7%",
                   orderable: false,
                   render: function(data, type, full, meta) {
                        if(data == "true")
                            return "<div class='checkbox checkbox-primary' style='padding-left: 10px; pointer-events: none;'><input class='checkbox' type='checkbox' checked='' disabled /><label></label></div>";
                        else
                            return "<div class='checkbox checkbox-primary' style='padding-left: 10px; pointer-events: none;'><input class='checkbox' type='checkbox' disabled /><label></label></div>";
                   }
                 },
                { orderable: false,
                   className: "text-center",
                   render: function(data, type, full, meta){
                        var buttonSearch = "<button type='button' class='btn btn-outline btn-primary' onclick="detail(full."><i class='fa fa-eye' aria-hidden='true'></i></button>&nbsp;";
                        var buttonEdit = "<button type='button' class='btn btn-outline btn-success' onclick=""><i class='fa fa-pencil' aria-hidden='true'></i></button>&nbsp;";
                        var buttonDelete = "<button type='button' class='btn btn-outline btn-danger' onclick=""><i class='fa fa-trash' aria-hidden='true'></i></button>";
                        return buttonSearch + buttonEdit + buttonDelete;
                   },
                   width: "15%"
            }],
            language: {
                    url: "@Html.SourceLink("js/plugins/dataTables/datatables-spanish.json")"
            }            
        });
    
    $("#chkInvoiceType").chosen({
        width: "100%",
        disable_search: true
    });
    
    $("#chkDocumentType").chosen({
        width: "100%",
        disable_search: true
    });
    
    $.ajax({ method: "GET", url: "/Finantial/Settings/InvoiceDocuments_Populate", async: false })
        .done(function (result) {
            var objResult = jQuery.parseJSON(result);
            tblSeries.clear().rows.add(objResult).draw();
        }).fail(function (result) {
            toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });
    
    $(".dt-button").removeClass("dt-button").addClass("btn btn-w-m btn-default").attr("data-toggle", "modal").attr("data-target", "#mdlInsert");
    
    $.ajax({ method: "GET", url: "/Finantial/Settings/DocumentTypes" })
        .done(function (result) {
            var objResult = jQuery.parseJSON(result);
            var documentType = $("#chkInvoiceType");
            $.each(objResult, function (index, value) {
                documentType.append("<option value='"+value.Value+"'>"+value.Content+"</option>");
            });
            documentType.trigger("chosen:updated");
        }).fail(function (result) {
            toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });       
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="table-responsive">
                    <table id="tblSeries" class="table table-striped table-bordered table-hover" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Tipo de Facturacion</th>
                                <th>Tipo de Documento</th>
                                <th>Serie</th>
                                <th>Actual</th>
                                <th>Default</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="mdlInsert" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h4 id="txtModalTitle" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tipo de Facturación </label>
                        <select id="chkDocumentType">
                            <option value="1">Facturación electrónica</option>
                            <option value="0">Facturación manual</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tipo de Documento </label>
                        <select id="chkInvoiceType"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Serie</label>
                        <input id="txtSerie" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Correlativos</label>
                        </div>
                        <div class="col-md-4">
                            <input id="txtStart" type="text" class="form-control" placeholder="Inicio" />
                        </div>
                        <div class="col-md-4">
                            <input id="txtFinal" type="text" class="form-control" placeholder="Final" />
                        </div>
                        <div class="col-md-4">
                            <input id="txtCurrent" type="text" class="form-control" placeholder="Actual" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnConfirm">Confirmar</button>
            </div>
        </div>
    </div>
</div>