<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="O7DbConnection" type="Angkor.O7Framework.Data.Model.O7DbConnection, Angkor.O7Framework.Data" />
    <section name="O7WebSource" type="Angkor.O7Framework.Web.Utility.O7WebSource, Angkor.O7Framework.Web" />
    <section name="O7File" type="Angkor.O7Framework.Components.Model.O7File, Angkor.O7Framework.Components" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />    
  </appSettings>
  <O7DbConnection provider="Oracle.ManagedDataAccess" server="192.168.1.190:1521/O7DEV" />
  <O7WebSource address="192.168.1.186" port="120" source="SharedSource" />
  <O7File path="C:" name="log" extension="txt" />
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>