<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Angkor | 401 Error</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1 style="margin-left: -80px; font-size:170px;">O7Web</h1>
        <h3><b>Error 401</b></h3>
        <h3 class="font-bold">Usuario o contraseña invalido o sin autorización </h3>
        <div class="error-desc">
            Lo sentimos, el usuario o contraseña ingresados no son correctos o no tienen autorización , es necesario que se ingrese un usuario y contraseña valido para ingresar al sistema , por favor intentelo nuevamente , si no recuerda sus credenciales puede hacer click en el boton inferior para recibir ayuda del area de soporte.
            <br>
            <br>
            <br>
            <p>
                <ul>
                    <a type="submit" class="btn btn-primary" style="margin-left: -40px;">
                        <i class=" fa fa-home"></i>
                        Regresar al Inicio
                    </a>
                    <a type="submit" class="btn btn-primary" href="mailto:fbueno@angkorperu.com?Subject=Soporte">
                        <i class="fa fa-envelope"></i>
                        Enviar correo a soporte
                    </a>
                </ul>
            </p>
        </div>
        <div class="pull-right">
            <div class="pull-right" style="margin-top: 120px;">
                <strong>
                    Copyright ©
                </strong>
                <a></a>
                Desarrollado por AngkorGroup S.A.C &copy; 2016
            </div>
        </div>
    </div>


    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>

</html>