
@{
    ViewBag.Title = "InvoiceProcess";
    ViewBag.Section = "Configuración";
    Layout = "~/Views/_Layout.cshtml";
}

@section styles_link {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" />
    @Html.StyleLink("css/plugins/chosen/bootstrap-chosen.css")
    @Html.StyleLink("css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")
    <style type="text/css">
        .form-separation{
            margin-bottom: 7px;
            margin-top: 7px;
        }
        .form-label-separation{
            margin-bottom: 10px;
            margin-top: 7px;
        }
        .form-separation-extra{
          margin-bottom: 11px;
        }
        .dataTables_filter {
           width: 50%;
           float: right;
           text-align: right;
        }
        .button-separation{
            margin-left: 12px;
            margin-right: 12px;
        }
        .selected{
            background-color: #acbad4 !important;
        }
        .emulate-label{
            border-left: 0 !important;
            border-right : 0 !important;
            border-top: 0 !important;
            background: #eee !important;
        }
        .modal-new-width{
          width: 800px !important;
        }
    </style>
}
@section scripts_link {
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    @Html.JavaScriptLink("js/plugins/chosen/chosen.jquery.js")
    <script>

    </script>
}

@section section_script {
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex)
                {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex)
                    {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18)
                    {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex)
                    {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex)
                {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18)
                    {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3)
                    {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex)
                {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex)
                {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                        errorPlacement: function (error, element)
                        {
                            element.before(error);
                        },
                        rules: {
                            confirm: {
                                equalTo: "#password"
                            }
                        }
                    });
            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });
            $('#clienteOcasionalCB').on('ifChecked', function(){
                $('#botonBuscarCliente').hide();
                $('#codInput').hide();
                $('#docInput').prop('disabled',false);
                $('#docInput').removeClass('emulate-label');
                $('#codLabel').hide();
                $('#typeInput').hide();
                $('#typeLabel').hide();
            });
            $('#clienteOcasionalCB').on('ifUnchecked', function(){
                $('#botonBuscarCliente').show();
                $('#codInput').show();
                $('#docInput').prop('disabled',true);
                $('#docInput').addClass('emulate-label');
                $('#codLabel').show();
                $('#typeInput').show();
                $('#typeLabel').show();
            });

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            var dataUnit = {"item":"1","concept":"observacion","desc":"descripcion","comment":"comentario","price":"8","tax":"18%","porc":"5%"};
            dataUnit.amount = "<input class='form-control pull-left' style='width: 70%;margin-right: -100px;' type='number' value='' id='item_amount_"+1+"'>";
            console.log(dataUnit);
            var dataSet = [];
            dataSet.push(dataUnit);
            var tableProduct = $('#tableProducts').DataTable({
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "bAutoWidth": false,
                data: dataSet,
                columns: [
                    { title: "Item", data: "item"},
                    { title: "Concepto", data: "concept"},
                    { title: "Descripcion", data: "desc"},
                    { title: "Comentario", data: "comment"},
                    { title: "Valor Unitario", data: "price"},
                    { title: "Impuesto", data: "tax"},
                    { title: "%Porcentaje", data: "porc"},
                    { title: "Cantidad", data: "amount"}
                ]
            });
            $('#botonGenerar').click(function(){
                var totalAmount = 0.0;
                tableProduct.rows().every(function(rowIdx,tableLoop,rowLoop){
                    var curData = this.data();
                    var price = curData.price;
                    var amount = $('#item_amount_'+curData.item).val();
                    totalAmount+=price*amount;
                })
                $('#totalACobrar').val(totalAmount);
            });
            $('#botonProductoOk').click( function () {
                var parentRow = $('.selected');
                var hash = {};
                var dataSet = [];
                var itemNum = parentRow.children('td').eq(0).text();
                var concept = parentRow.children('td').eq(1).text();
                var desc = parentRow.children('td').eq(2).text();
                var price = parentRow.children('td').eq(3).text();
                hash.item=itemNum;
                hash.concept=concept;
                hash.desc=desc;
                hash.comment="Comentario X";
                hash.price=price;
                hash.tax="18%";
                hash.porc="5%";
                hash.amount="<input class='form-control pull-left' style='width: 70%;margin-right: -100px;' type='number' value='' id='item_amount_"+itemNum+"'>";
                dataSet.push(hash);
                tableProduct.rows.add(dataSet).draw(false);
                tableProduct.row('.selected').remove().draw(false);
            });
              var modalProductoTable = $('#agregarProductoTable').DataTable({
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "bAutoWidth": false
              });
                $('#agregarProductoTable tbody').on( 'click', 'tr', function () {
                    if ( $(this).hasClass('selected') ) {
                        $(this).removeClass('selected');
                    }
                    else {
                        modalProductoTable.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                    }
            } );
            var modalClientTable = $('#seleccionarCliente').DataTable();
            $('#seleccionarCliente tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                }
                else {
                    modalClientTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            } );
            $('#modalClientOk').click( function () {
                var parentRow = $('.selected');
                $("#codInput").val(parentRow.children('td').eq(0).text());
                $("#typeInput").val(parentRow.children('td').eq(1).text());
                $("#docInput").val(parentRow.children('td').eq(2).text());
                $("#nameInput").val(parentRow.children('td').eq(3).text());
                $("#phoneInput").val(parentRow.children('td').eq(4).text());
                $("#mailInput").val(parentRow.children('td').eq(5).text());
                table.row('.selected').remove().draw( false );
            });

          $('#btnFilter').click(function(){
            var dataSet = [["312312413123","23","Nombre del cliente","Natural", "asdasdas@asdasd.com", "3213123", "Fuck the world"],["3211231","28","Gianfranco Galvez","Jurídica", "asdasdas@2312wqeqwe.com", "987456312", "Su casa"]];
            addToTable(dataSet);
          });
          function filterTables(){
            var dataSet = [["312312413123","23","Nombre del cliente","Natural", "asdasdas@asdasd.com", "3213123", "Fuck the world"],["3211231","28","Gianfranco Galvez","Jurídica", "asdasdas@2312wqeqwe.com", "987456312", "Su casa"]];
            addToTable(dataSet);
            /*
            var filterContent = $('#filterInput').val();
            $.ajax({ method: "GET", url: "Invoice/Insert_clientSearch", data: {filter:filterContent} })
              .done(function (result) {
                var jsonResult = jQuery.parseJSON(result);
                if (!jQuery.isEmptyObject(jsonResult)) {
                  addToTable(jsonResult);
                }
              })
              .fail(function (result) {
            }); */
          }
}

<h2>InvoiceProcess</h2>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Proceso de facturación</h5>
                </div>
                <div class="ibox-content">
                    <h2>
                        Facturación
                    </h2>
                    <form id="form" action="#" class="wizard-big">
                        <h1>Elección del cliente</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h2>
                                        Información del cliente
                                        <button id="botonBuscarCliente" type="button" class="btn btn btn-primary pull-right" data-toggle="modal" data-target="#modalCliente"> <i class="fa fa-search"></i> Buscar</button>
                                    </h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label id="docLabel" class="pull-left form-separation emulate-label"> DNI/RUC </label>
                                                <input disabled="disabled" type="text" class="form-control emulate-label" id="docInput">
                                                <label class="pull-left form-separation"> Teléfono </label>
                                                <input type="text" class="form-control" id="phoneInput">
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="pull-left form-separation"> Nombre </label>
                                                <input type="text" class="form-control" id="nameInput">
                                                <label class="pull-left form-separation"> Email </label>
                                                <input type="text" class="form-control" id="mailInput">
                                            </div>
                                        </div>
                                        <div class=row>
                                            <div class="col-sm-11">
                                                <label class="pull-left form-separation"> Dirección</label>
                                                <input type="text" class="form-control" id="dirInput">
                                                <label style="margin-top: 30px;margin-bottom: -30px;"> <input id="clienteOcasionalCB" type="checkbox" class="i-checks"> Cliente ocasional </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text-center">
                                        <div style="margin-top: 20px">
                                            <i class="fa fa-users" style="font-size: 180px;color: #e5e5e5 "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h1>Tipo de comprobante</h1>
                        <fieldset>
                            <h2>Información documento</h2>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <label style="left:inherit" class="form-label-separation">Tipo de Doc.</label>
                                                <select class="form-control">
                                                    <option>Factura de cliente 1</option>
                                                    <option>Factura de cliente 2</option>
                                                    <option>Factura de cliente 3</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <label style="left:inherit" class="form-label-separation">Serie Externo</label>
                                                <select class="form-control">
                                                    <option>F001</option>
                                                    <option>F002</option>
                                                    <option>F003</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="data_1" class="col-sm-5">
                                                <label class="pull-left form-separation"> Fecha Documento </label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="">
                                                </div>
                                            </div>
                                            <div id="data_1" class="col-sm-5">
                                                <label class="pull-left form-separation"> Fecha de vencimiento </label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <label style="left:inherit" class="form-label-separation">Moneda</label>
                                                <select class="form-control">
                                                    <option>Nuevos Soles</option>
                                                    <option>Dólares Americanos</option>
                                                    <option>Libras Esterlinas</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="text-right">
                                        <div style="margin-top: 20px">
                                            <i class="fa fa-file-o" style="font-size: 180px;color: #e5e5e5 "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h1>Selección del producto</h1>
                        <fieldset>
                            <h2>Elija un producto</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <button id="botonAgregarProducto" type="button" class="btn btn btn-primary pull-left form-separation-extra" data-toggle="modal" data-target="#modalProducto"> <i class="fa fa-plus" aria-hidden="true"></i> Agregar Productos</button>
                                </div>
                                <div class="col-md-6">
                                    <button id="botonGenerar" class="btn btn btn-primary pull-right form-separation-extra" data-toggle="modal" data-target="#modalTotal">   <i class="fa fa-check" aria-hidden="true"></i>Generar Total</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="pull-left form-separation emulate-label"> Impuesto </label>
                                    <input disabled="disabled" type="text" class="form-control emulate-label" id="taxInput">
                                </div>
                            </div>
                            <div class="row">
                                <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="tableProducts" class="display"></table>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Valor Venta</label>
                                    <input disabled="disabled" id="venta" type="text" class="form-control emulate-label" placeholder="Valor Venta" />
                                    <label>Valor Impuesto</label>
                                    <input disabled="disabled" id="impuesto" type="text" class="form-control emulate-label" placeholder="Valor Impuesto" />
                                    <label>Valor Total</label>
                                    <input disabled="disabled" id="totalValor" type="text" class="form-control emulate-label" placeholder="Valor Total" />
                                </div>
                                <div class="col-md-6">
                                    <label>%Percepcion</label>
                                    <select class="form-control">
                                        <option>45%</option>
                                        <option>67%</option>
                                        <option>25%</option>
                                    </select>
                                    <label>Importe Percepcion</label>
                                    <input disabled="disabled" id="percepcionImport" type="text" class="form-control emulate-label" placeholder="Importe Percepcion" />
                                    <label>Total por Cobrar</label>
                                    <input disabled="disabled" id="totalACobrar" type="text" class="form-control emulate-label" placeholder="Total por Cobrar" />
                                </div>
                            </div>
                        </fieldset>
                        <h1>Datos adicionales</h1>
                        <fieldset>
                            <h2>Datos adicionales</h2>
                            <label style="left:inherit" class="form-label-separation"><input id="clienteOcasionalCB" type="checkbox" class="i-checks"> Donación</label>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label style="left:inherit" class="form-label-separation">Condición de la venta</label>
                                    <select class="form-control">
                                        <option>Seleccione uno...</option>
                                    </select>
                                    <label style="left:inherit" class="form-label-separation">Forma de pago</label>
                                    <select class="form-control">
                                        <option>Seleccione uno...</option>
                                    </select>
                                    <label style="left:inherit" class="form-label-separation">Vendedor</label>
                                    <select class="form-control">
                                        <option>Seleccione uno...</option>
                                    </select>
                                    <label style="left:inherit" class="form-label-separation">Tipo de venta</label>
                                    <select class="form-control">
                                        <option>Seleccione uno...</option>
                                    </select>
                                    <label style="left:inherit" class="form-label-separation">Idioma</label>
                                    <select class="form-control">
                                        <option>Seleccione uno...</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">

                                </div>
                                <div class="col-sm-5">
                                    <div class="row">
                                        <div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label style="left:inherit" class="form-label-separation">Doc Ref.</label>
                                            <select class="form-control">
                                                <option>Seleccione uno...</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="pull-left form-separation"> Descripción</label>
                                            <input type="text" class="form-control" id="typeInput">
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="pull-left form-separation"> Nro. Doc. Ref </label>
                                            <input type="text" class="form-control" id="typeInput">
                                        </div>
                                    </div>
                                    <label class="pull-left form-separation emulate-label"> Glosa </label>
                                    <input type="text" class="form-control" id="glosaInput">
                                    <label style="left:inherit" class="form-label-separation">Trabajador</label>
                                    <select disabled="disabled" class="form-control">
                                        <option>Seleccione uno...</option>
                                    </select>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label style="left:inherit" class="form-label-separation">Línea de negocio</label>
                                            <select class="form-control">
                                                <option>Seleccione uno...</option>
                                            </select>
                                            <label style="left:inherit" class="form-label-separation">Código Financiero</label>
                                            <select class="form-control">
                                                <option>Seleccione uno...</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="pull-left form-separation"> Número O/C </label>
                                            <input disabled="disabled" type="text" class="form-control emulate-label" id="typeInput">
                                            <label class="pull-left form-separation emulate-label"> Nro guía remisión </label>
                                            <input disabled="disabled" type="text" class="form-control emulate-label" id="glosaInput">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h1>Resumen</h1>
                        <fieldset>
                            <h2>Resumen de la venta</h2>
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 50px;">
                                <div class="col-sm-4">
                                    <button id="botonAgregarProducto" type="button" class="btn btn btn-primary form-separation-extra" data-toggle="modal" data-target="#modalProducto">Facturación Electrónica</button>
                                </div>
                                <div class="col-sm-4">
                                    <button id="botonAgregarProducto" type="button" class="btn btn btn-primary form-separation-extra" data-toggle="modal" data-target="#modalProducto"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Generar PDF</button>
                                </div>
                                <div class="col-sm-4">
                                    <button id="botonAgregarProducto" type="button" class="btn btn btn-primary form-separation-extra" data-toggle="modal" data-target="#modalProducto">Facturación Manual</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
